*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    a{
    text-decoration: none;
    }
    
    body{
    background: rgb(2,0,36);
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(210,12,146,1) 99%, rgba(0,212,255,1) 100%);
    
    }
    
    .container{
    text-align:center;
    width: 300px;
    margin: 60px auto;
    }
    
    img{
    width: 100%;
    }
    
    img.avatar{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    padding: 4.0px;
    border: #6a54a1 solid 4px;
    }
    
    h1{
    font-size: 32px;  
    color: #3a0228;  
    margin-top: 24px;
    margin-bottom: 8px;
    }
    
    .username{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6a54a1;
    opacity: 0.9;
    font-size: 19px;
    }
    
    ul{
    list-style: none;
    margin: 48px 0;
    }
    
    ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content:left;
    background: #6a54a1;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    
    margin-bottom: 16px;
    border-radius: 6px;
    
    transition: background 400ms;
    }
    
    ul li a:hover{
    background:#880f61;
    
    }
    
    footer{
    font-weight: 500;
    font-size: 12px;
    color: #6a54a1;
    opacity: 0.6;
    transition: opacity 400ms;
    }
    
    footer:hover{
    color: #880f61;
    opacity: 1;
    }
    
    footer a{
    color: #6a54a1;
    }